# Environments & Packages
.venv/
venv/
.venv_wsl/
__pycache__/
*.py[cod]

# IDE Settings
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MLOps - Heavy Data (Block the file, NOT the directory)
data/raw/creditcard.csv
data/processed/

# MLOps - Heavy Models (Block the files, NOT the directory)
models/*.joblib
models/*.pkl

# Python extensions
*.so
